[Unit]
Description=NVIDIA GPU max performance for CUDA
After=nvidia-persistenced.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/nvidia-smi --lock-gpu-clocks=2100,2100
ExecStart=/usr/bin/nvidia-smi --persistence-mode=1

[Install]
WantedBy=multi-user.target
